<a href="https://colab.research.google.com/github/Jaryyyy/OOP-58002/blob/main/FUNDAMENTALS_OF_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Variables

In [1]:
x = float(1) 
a, b = 0, -1
a, b, c = "austine", "james", "jack"

print('This a sample')
print(a)
print(c)

This a sample
austine
jack

Casting

In [ ]:
print (x)

1.0

Type() Function

In [2]:
y = "Pakbet"

print(type(y))
print(type(x))

<class 'str'>
<class 'float'>

Double quotes and Single quotes

In [3]:
h= "Fishball"
v= 1
V= 2

print(h)
print(v)
print(v+1)

Fishball
1
2

Multiple Variables

In [4]:
x,y,z="una", "pangalawa", "Pangatlo"
print(x)
print(y)
print(z)
print(x,y,z)

una
pangalawa
Pangatlo
una pangalawa Pangatlo

One Value to Multiple Variables

In [5]:
x = y = z ="Ted"
print(x,y,z)

Ted Ted Ted

Output Variables

In [6]:
x= "Exercising"

print("I am " + x)

x = "Leg"
y = "Day"

print(x+""+" "+y)

I am Exercising
Leg Day

Arithmetic Operations

In [7]:
f = 6
g = 9
i = 8

print(f+g)
print(f-g)
print(f*i)
print(int(i/g))
print(3/g)
print(3%g)
print(3//g)
print(3**6)

15
-3
48
0
0.3333333333333333
3
0
729

Assignment Operators

In [18]:
k = 7
l=2
k+=2 #same as k=k+2

print(k)

print(l>>1)

9
1

Boolean Operators

In [17]:
k=6
l=4
print(k>>2)#shift right twice 
print(k<<2)#shift left twice

1
24

Relational Operators

In [16]:
print(v>k) #v=6, k=4

print(v==k)

False
False

Logical Operators

In [14]:
print(v<k and k==k)
print(v<k or k==v)
print(not (v<k or k==v))

True
True
False

Identity Operators

In [15]:
print(v is k)
print(v is not k)

False
True