<a href="https://colab.research.google.com/github/Jaryyyy/OOP-58002/blob/main/Operations_and_Expression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [1]:
print(9>7)
print(9<8)

True
False

In [3]:
a = 8
b = 9

print(8>9)
print(9<8)
print(a>b)

False
False
False

bool() function

In [4]:
print(bool("Jayr"))
print(bool(2))
print(bool(3))
print(bool(None))
print(bool(False))
print(bool(True))

True
True
True
False
False
True

Functions can return a Boolean

In [5]:
def my_Function():
  return True

print(my_Function())

True

In [6]:
if my_Function():
  print("Yes")
else:
  print("No")

Yes

Application 1

In [7]:
print(a==b)
print(a<b)

False
True

Python Operators

In [8]:
print(10+5)
print(10-5)
print(10/3)
print(10*5)
print(10%5)
print(10//3)
print(10**2)

15
5
3.3333333333333335
50
0
3
100

Bitwise Operators

In [9]:
c = 60 # binary 0011 1100
d = 13 # binary 0000 1101

c&d
print(a|b)
print(c^d)

print(d<<2)

9
49
52

Logical Operators

In [12]:
k = True
l = False
k and l
k or l
not (k or l)

False

Application 2

#Python Assignment Operators

In [13]:
x= 10

print(10+3)
print(10-3)
print(10/3)
print(10*3)
print(10%3)

13
7
3.3333333333333335
30
1

Identity Operators

In [14]:
k is l
k is not l

True

#Control Structure

If statement

In [15]:
if print(b<c):
  print("b is greater than c")

True

Short Hand if statement

In [16]:
if print(c==d): print("c is equal to d")

False

Short Hand If...else satement

In [17]:
c = 8
d = 7
print("c is greater than d")if (a<b) else ("d is greater than c")

c is greater than d

And

In [21]:
if c and d:
  print("Yes")

Yes

Or

In [20]:
if c<d or d==d:
  print("Both condition is True")

Both condition is True

Nested If

In [22]:
x = 41
if x>11:
  print("x is above 11")
  if x>30:
    print("and also above 30")
  if x>40:
    print("and also above 40")
    if x>50:
      print("and also above 50")
    else:
      print("but not above 50")

x is above 11
and also above 30
and also above 40
but not above 50

Loop Statement

For Loop

In [23]:
week = ["Sunday, Monday, Tuesday, Wednesday, Thursday, Friday, Saturday"]

for x in week:
  print(x)

Sunday, Monday, Tuesday, Wednesday, Thursday, Friday, Saturday

The break statement

In [24]:
#to display Sunday to Thursday using For loop
for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday, Monday, Tuesday, Wednesday, Thursday, Friday, Saturday

In [25]:
#to display Sunday to Thursday using break loop
for x in week:
  if x=="Thursday":
    break
print(x)

Sunday, Monday, Tuesday, Wednesday, Thursday, Friday, Saturday

While statement

In [26]:
i = 3
while i<6:
  print(i)
  i+=3

3

Application 3 - Create a python program that display 3

In [27]:
i = 3
while i<5:
  if i==4:
    break
  i+=3
print(i)

6